<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>title</key>
			<string></string>
			<key>headImage</key>
			<string></string>
			<key>isShowLine</key>
			<false/>
			<key>isShowArrow</key>
			<true/>
			<key>type</key>
			<integer>0</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>修改密码</string>
			<key>headImage</key>
			<string>User_password</string>
			<key>isShowLine</key>
			<false/>
			<key>isShowArrow</key>
			<true/>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>title</key>
			<string>同步通讯录</string>
			<key>headImage</key>
			<string>User_contract</string>
			<key>isShowLine</key>
			<true/>
			<key>isShowArrow</key>
			<true/>
			<key>type</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>title</key>
			<string>用户反馈</string>
			<key>headImage</key>
			<string>User_feedback</string>
			<key>isShowLine</key>
			<true/>
			<key>isShowArrow</key>
			<true/>
			<key>type</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>title</key>
			<string>设置</string>
			<key>headImage</key>
			<string>User_setting</string>
			<key>isShowLine</key>
			<true/>
			<key>isShowArrow</key>
			<true/>
			<key>type</key>
			<integer>2</integer>
		</dict>
	</array>
</array>
</plist>
